# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# Data
# Data assets
data/similarity.pkl
data/books_list.pkl
!data/processed_model.pkl


# Databases
users.db

# Vercel
.vercel/
.vercelignore
